# .gitconfig


[alias]
    ap = add --patch
    br = branch --all --verbose --verbose
    ca = commit --amend
    dc = diff --cached
    di = diff
    dw = diff --word-diff
    lo = log --all --decorate --graph --oneline
    ls = log --all --decorate --graph --oneline --simplify-by-decoration
    re = remote --verbose
    ru = remote --verbose update
    st = status --branch --short


# EOF
